{% extends "UsSymremedyBundle::layout_admin.html.twig" %}
{% set title = 'Datos del Espacio'|trans %}
{% set active = 'espacios' %}


{% block content %}

    <ul>
        <li>{{ 'identificator'|trans }}: {{ container.id }}</li>
        {% if container.category %}
            <li>{{ 'category'|trans }}: {{ container.category.name }}</li>
        {% endif %}
        <li>{{ 'name'|trans }}: {{ container.name }}</li>
        <li>{{ 'description'|trans }}: {{ container.description }}</li>
        <li>{{ 'capacity'|trans }}: {{ container.capacity }}</li>
        {% if container.parent %}
            <li>{{ 'parent.container'|trans }}: {{ container.parent.name }}</li>
        {% else %}
            <li>{{ 'root.container'|trans }}</li>
        {% endif %}
        <li>{{ 'has.children'|transchoice(container.children|length) }}</li>
    </ul>
    <p><a href="{{ path('us_symremedy_container_list') }}">{{ 'back.containers.list'|trans }}</a></p>

{% endblock %}
